body{
	background-image: url("../images/stardust.png");
	color:#ffd700;
	font-size: 14px;
	line-height: 1.25;
	font-family: 'Press Start 2P', cursive;
}

h1{
	text-align: center;
	font-size: 30px;
	margin:20px;
}

h2{
	text-align: center;
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 15px;
}

.cardCover{
	position:absolute;
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	background-color: black; 
	opacity: 0.5;
}

.cardsHolder{
	text-align: center;
}

.cardWrapper{
	position:absolute;
	width:98%;
	height:98%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	background:#444349;
}

.characterImage{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	max-height: 100%;
	max-width: 100%;
}

#characterSelect{
	
}

#middleCharacterSelectContainer{
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
}

.clearFix:after{
  	content: "";
  	display: table;
  	clear: both;
}

#combatBoard{
	position:relative;
	text-align: center;
}

.combatBoardElement{
	display:inline-block;
	position:relative;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
}

#mainContentHeader{
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
	position:relative;
	top:0;
	width:100%;
}

.imageWrapper{
	position: relative;
	width:100%;
	height:66%;
	background:#000;
}

.infoContainer{
	margin:6px;
}

.left{
	float:left;
}

.myButton{
	background-color: #ffd700;
	color:#444349;
	text-align:center;
	font-size: 24px;
	display: table-cell;
	vertical-align: middle;
}

.myButtonContainer{
	position:relative;
	width:250px;
	height:50px;
}

#fightButtonContainer{
	left:0;
	right:0;
	margin:auto;
	display:none;
}

#mainContentContainer{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
}

.myButtonWrapper{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	width:100%;
	height: 100%;
	display:table;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:pointer;
}

.myButton:hover {
    background-color: #e6e6e6;
}

.myCard{
	position:relative;
	background: #ffd700;
	text-align: left;
	cursor:pointer;
	display: table-cell;
}

.myCardContainer{
	position:relative;
	margin:10px;
	display: inline-block;
	width:290px;
	height:270px;
}

.myCardContainerInner{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	width:95%;
	height: 95%;
	display:table;
}

#outerCharacterSelectContainer{
	z-index: 999;
	background-image: url("../images/stardust.png");
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: auto;
}

.messageBoxContainer{
    position:absolute;
    z-index: 99999;
    top:40%;
    left:0;
    right:0;
    margin:0 auto;
    width:600px;
    text-align: center;
}

.messageBoxButtonContainer{
    position:relative;
    float:right;
    display:inline-block;
}

.messageBoxElement{
    margin-bottom: 10px;
}

.messageBoxWrapper{
    font-family:Arial, sans-serif;
    color:#2f2f2f;
    min-width:400px;
    text-align: left;
    display: inline-block;
    background-color: #eee;
    border-radius:4px;
    box-shadow: 5px 5px 15px #000;
}

.messageBoxWrapper2{
    position:relative;
    margin:10px;
    clear:both;
}

.messageBoxHeader{
    font-size: 30px;
    font-weight: bold;
}

.myMessageBoxFloatLeft{
    float:left;
}

.myMessageBoxButton{
    float:left;
    background-color: #ccc;
    border-radius: 4px;
    font-size: 22px;
    padding:4px 10px 4px 10px;
    margin-left: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
}

.myMessageBoxButton:active{
    background-color: #b3b3b3;
}

.messageBoxOverlay{
    top:-100%;
    left:0;
    position:fixed;
    z-index: 9999;
    width:100%;
    height:100%;
}