body{
	background-image: url("../images/stardust.png");
	color:#ffd700;
	font-size: 14px;
	line-height: 1.25;
	font-family: 'Press Start 2P', cursive;
}

h1{
	text-align: center;
	font-size: 30px;
	margin:20px;
}

.cardsHolder{
	text-align: center;
}

.cardWrapper{
	position:absolute;
	width:98%;
	height:98%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	background:#444349;
}

.characterImage{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	max-height: 100%;
	max-width: 100%;
}

#characterSelect{
	
}

#middleCharacterSelectContainer{
	background-color: black;
	background: rgba(0, 0, 0, 0.5);
}

.clearFix:after{
  	content: "";
  	display: table;
  	clear: both;
}

#combatBoard{
	width:100%;
	position:relative;
	text-align: center;
}

.combatBoardElement{
	display:inline-block;
}

.imageWrapper{
	position: relative;
	width:100%;
	height:66%;
	background:#000;
}

.infoContainer{
	margin:6px;
}

.left{
	float:left;
}

.myButton{
	background-color: #ffd700;
	color:#444349;
	text-align:center;
	font-size: 26px;
	display: table-cell;
	vertical-align: middle;
}

.myButtonContainer{
	position:relative;
	width:240px;
	height:80px;
}

#fightButtonContainer{
	left:0;
	right:0;
	margin:auto;
	display:none;
}

.myButtonWrapper{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	width:100%;
	height: 100%;
	display:table;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:pointer;
}

.myCard{
	position:relative;
	background: #ffd700;
	text-align: left;
	cursor:pointer;
	display: table-cell;
}

.myCardContainer{
	position:relative;
	margin:10px;
	display: inline-block;
	width:300px;
	height:280px;
}

.myCardContainerInner{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	width:95%;
	height: 95%;
	display:table;
}

#outerCharacterSelectContainer{
	z-index: 999;
	background-image: url("../images/stardust.png");
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: auto;
}